@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
.small-img-group{
font-size: 6rem;
    display:flex;
   /* justify-content: space-between;*/
    flex-basis:30%;
}
.small-img-group .img-fluid img{
    font-size: 23rem;
    width: 25rem;
    height: 6rem;

}
.small-img-col{
    flex-basis: 10%;
    cursor: pointer;
    gap: 20rem;
   
}