@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size:1.8rem;
    font-weight: 600;
}
#account-form{
    width: 20%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
    margin-right: 20rem;
    justify-content: center;
    margin-top: -21rem;
}
#account-form input{
    margin: 7px auto;
    font-size: 2rem;
}
#account-form #change-pass-btn{
    color: #fff;
    background-color: #fb774d;
}

.account-info{
    width: 20%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
   font-size: 1.8rem;
   margin-left: 20rem;
   margin-top: 5rem;
  
}
.account-info #orders-btn{
    color: #fb774d;
    text-decoration: none;
}
.account-info #logout-btn{
    color: #fb774d;
    text-decoration: none;
}
.orders table{
    width: 100%;
    border-collapse: collapse;
}
.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}
.orders th{
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774d;
 
}

.orders td{
    padding: 10px ;
}
.text-center{
    text-align: center;
    margin-top: 15rem;
}