/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
#product1 .pro .shop{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}*/
.cart table{
    width: 100%;
    border-collapse: collapse;
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}
.cart th{
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774b;
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.cart  td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.cart td a{
    color: #fb774b;
}
.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 15px;
}
.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;

}
.cart .product-info p{
    margin: 3px;

}
.cart-total{
    display: flex;
    justify-content: flex-end;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}
.checkout-btn{
    background-color: #fb774b;
    color: #fff;
}